<div class="card text-center">

  <div class="card-body">
    <p class="card-text">RoboSUST is an organization from Shahjalal University of Science & Technology which came into being from the dreams of some very passionate persons.<br>
Noushad Sojib, a student of CSE 2009-10 session of SUST first dreamt of a platform – in which any student from any department of this university can achieve their dreams of robotics. Even though robotics is not usually taught in any course in any department of SUST, Noushad Sojib started taking workshops and gave talks among interested students from many different backgrounds. As a result, now in 2018, RoboSUST has many members from numerous interesting backgrounds – ranging from mainstream subjects like CSE, EEE to Architecture or Geography. <br>
From the very beginning of its commencement, RoboSUST has achieved countless awards, won a large number of competitions, participated in many international contests and brought glory to its university and country.<br>
RoboSUST has their very own lab – open to everybody who is passionate, hardworking enough to learn, and persistent enough to inspire others. We conduct workshops on basic robotics every year, and advanced workshops before large competitions. Starting from 2016 we even started to hold IntraSUST robotics contests!<br>

<br>

Our funding is very limited – yet we try to provide the roboticians the basic tools and environment. But we sure don’t intend to stop right here! If you don’t believe us,
<br>
<br>
You can always find us at IICT building room 432 A!
    </p>

  </div>
  <div class="card-footer text-muted">
    From RoboSUST with Love
  </div>
</div>
