<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Members | RoboSUST</title>

    <style type="text/css">
      body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

.wrapper {
    text-align: center;
}

    </style>

  </head>


  <body>
    <h2 class="page-header" style="text-align: center;">Members</h2>
    <div class="container">
  <div class="row">
    
  </div>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://localhost:5555/img/sojib.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="wrapper">
        <h3 class="card-title">Noushad Sojib</h3>
        <p class="card-text">If you want to know more about me, click the button below!</p>
        <a href="/users/sojib" class="btn btn-primary">Profile</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://localhost:5555/img/enamul.jpg" alt="Card image cap">
    <div class="card-body">
     <div class="wrapper">
        <h3 class="card-title">Enamul Haque</h3>
        <p class="card-text">If you want to know more about me, click the button below!</p>
        <a href="#" class="btn btn-primary">Profile</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://localhost:5555/img/saiful.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="wrapper">
        <h3 class="card-title">Saiful Islam</h3>
        <p class="card-text">If you want to know more about me, click the button below!</p>
        <a href="#" class="btn btn-primary">Profile</a>
      </div>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://localhost:5555/img/noushad.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="wrapper">
        <h3 class="card-title">Noushad Hossain</h3>
        <p class="card-text">If you want to know more about me, click the button below!</p>
        <a href="#" class="btn btn-primary">Profile</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://localhost:5555/img/sj.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="wrapper">
        <h3 class="card-title">Umme Sumaya Jannat</h3>
        <p class="card-text">If you want to know more about me, click the button below!</p>
        <a href="#" class="btn btn-primary">Profile</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="http://localhost:5555/img/robi.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="wrapper">
        <h3 class="card-title">Robi Paul</h3>
        <p class="card-text">If you want to know more about me, click the button below!</p>
        <a href="#" class="btn btn-primary">Profile</a>
      </div>
    </div>
  </div>
</div>


          </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>