    <nav class='global-footer-section variant-sitemap'>
        <section class='sitemap-section variant-primary'>
            <div class='global-footer-section-hd'>
                <div class='glyph'>
                    <h2>
                        <img src="http://localhost:5555/img/rslogo.png" style="height: 25px; width: 40px;">
                    </h2>
                </div>
            </div>
            <div class='global-footer-section-bd'>
                <ul class='sitemap-list'>
                    
                    <li><a href='/'>News &amp; Updates</a></li>
                    
                    <li><a href='/research/'>Research</a></li>
                    
                    <li><a href='/about/'>About</a></li>
                    
                    <li><a href='/projects/'>Projects</a></li>
                    
                    <li><a href='/people/'>People</a></li>
                    
                    <li><a href='/members/'>Members</a></li>
                    
                    <li><a href='/blog/'>Blog</a></li>
                    
                    <li><a href='/team/'>Team</a></li>
                    
                </ul>
            </div>
        </section>
        
    </nav>

    <div class='global-footer-section variant-meta'>
        <div class='global-footer-section-bd'>
            <ul class='social-links'>
                <li>
                    <img src="http://localhost:5555/img/rslogo.png">
                </li>
                <li>
                    <a href='https://www.facebook.com/mitmedialab' target='_blank'><span class='icon'><svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25' height='25' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'>
    <path d='M13.958,10h3.75v3.75h-3.75v8.75h-3.75v-8.75H7.292V10h2.917V7.5c0-2.755,2.06-5,4.583-5h2.917v3.75h-2.917 c-0.463,0-0.833,0.556-0.833,1.25V10z'/>
</svg></span></a>
                </li>
                <li>
                    <a href='https://www.instagram.com/mitmedialab/' target='_blank'><span class='icon'><svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25' height='25' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'>
    <path d='M22.494,8.75h-6.088c-0.995-1.019-2.384-1.667-3.912-1.667c-1.527,0-2.917,0.648-3.912,1.667H2.495V5.417 C2.495,3.82,3.814,2.5,5.411,2.5h14.167c1.597,0,2.917,1.319,2.917,2.917V8.75z M22.494,10.417v9.167 c0,1.597-1.319,2.917-2.917,2.917H5.411c-1.597,0-2.917-1.319-2.917-2.917v-9.167h5c-0.278,0.648-0.417,1.342-0.417,2.083 c0,2.986,2.431,5.417,5.417,5.417c2.986,0,5.417-2.431,5.417-5.417c0-0.741-0.139-1.436-0.417-2.083H22.494z M8.745,12.5 c0-2.061,1.667-3.75,3.75-3.75c2.061,0,3.75,1.689,3.75,3.75c0,2.083-1.689,3.75-3.75,3.75C10.411,16.25,8.745,14.583,8.745,12.5z' />
</svg></span></a>
                </li>
                
            </ul>
            <p>
                <div class='mit-icon-holder'>
                    <img src="http://localhost:5555/img/sustlogo.png" style="height: 25px; width: 25px;">
                </div>
                <a href='http://sust.edu/'>Shahjalal University of Science and Technology</a><br>
            </p>

            <p><a href='/about/support-the-lab/'>Donate to RoboSUST</a></p>
           
        </div>
    </div>
