 <body class=' state-groups-hide-accepting'>
        

        <div class='global-container'>
            <div class='global-container-membrane'>

                
                    <header class='global-header '>
                        

<div class='glyph global-header-glyph shim-svgs'>
<img src="http://localhost:5555/img/rslogo.png">
</div>

                        

<nav class='global-header-nav'>
    <ul class='global-header-nav-list'>

        

        
<!--
        <li class='global-header-nav-search'>
            <a href='#' data-target='search'>
                <span class='open'><svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25' height='25' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'>
    <title>Search</title>

    <path d='M3.939,21.06c-0.583-0.583-0.583-1.541,0-2.125l5.104-5.082c-0.667-1.042-1.042-2.291-1.042-3.603 c0-3.729,3.021-6.749,6.748-6.749c3.729,0,6.749,3.02,6.749,6.749c0,3.728-3.021,6.748-6.749,6.748 c-1.312,0-2.562-0.375-3.603-1.042L6.064,21.06C5.48,21.644,4.522,21.644,3.939,21.06z M14.749,14.749 c2.479,0,4.499-2.02,4.499-4.499s-2.021-4.499-4.499-4.499s-4.498,2.021-4.498,4.499S12.27,14.749,14.749,14.749z'/>
</svg>
</span>
                <span class='close'><svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25' height='25' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'>
    <path d='M20.394,17.374c0,0.104-0.042,0.188-0.104,0.271l-2.646,2.645c-0.083,0.062-0.166,0.104-0.271,0.104 s-0.188-0.042-0.271-0.104L12.5,15.687L7.896,20.29c-0.082,0.062-0.166,0.104-0.27,0.104c-0.104,0-0.188-0.042-0.271-0.104 L4.71,17.645c-0.062-0.083-0.104-0.167-0.104-0.271s0.042-0.188,0.104-0.271L9.313,12.5L4.71,7.897 C4.648,7.814,4.606,7.73,4.606,7.626S4.648,7.439,4.71,7.355L7.355,4.71c0.084-0.062,0.167-0.104,0.271-0.104 c0.104,0,0.188,0.042,0.27,0.104L12.5,9.313l4.604-4.603c0.083-0.062,0.166-0.104,0.271-0.104s0.188,0.042,0.271,0.104l2.646,2.645 c0.062,0.083,0.104,0.167,0.104,0.271s-0.042,0.188-0.104,0.271L15.687,12.5l4.603,4.604C20.352,17.186,20.394,17.27,20.394,17.374z '/>
</svg>
</span>
                <span class='accessible-text'>Search</span>
            </a>
        </li>
        -->
       <% if (!user) { %> 
        <li class='global-header-nav-user'>
            <a href='#/users/login' data-target='user'>
                <span class='open'><svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25' height='25' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'>
    <title>User</title>
    <path d='M21.498,21.123c0,0.208-0.166,0.375-0.375,0.375H3.877c-0.209,0-0.375-0.167-0.375-0.375v-0.75 c0-3.75,6.748-3,6.748-5.999c0,0-2.249-2.25-2.249-6.374c0-2.479,2.02-4.499,4.498-4.499c2.479,0,4.499,2.021,4.499,4.499 c0,4.124-2.249,6.374-2.249,6.374c0,2.999,6.748,2.249,6.748,5.999V21.123z'/>
</svg>
</span>
                <span class='close'><svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25' height='25' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'>
    <path d='M20.394,17.374c0,0.104-0.042,0.188-0.104,0.271l-2.646,2.645c-0.083,0.062-0.166,0.104-0.271,0.104 s-0.188-0.042-0.271-0.104L12.5,15.687L7.896,20.29c-0.082,0.062-0.166,0.104-0.27,0.104c-0.104,0-0.188-0.042-0.271-0.104 L4.71,17.645c-0.062-0.083-0.104-0.167-0.104-0.271s0.042-0.188,0.104-0.271L9.313,12.5L4.71,7.897 C4.648,7.814,4.606,7.73,4.606,7.626S4.648,7.439,4.71,7.355L7.355,4.71c0.084-0.062,0.167-0.104,0.271-0.104 c0.104,0,0.188,0.042,0.27,0.104L12.5,9.313l4.604-4.603c0.083-0.062,0.166-0.104,0.271-0.104s0.188,0.042,0.271,0.104l2.646,2.645 c0.062,0.083,0.104,0.167,0.104,0.271s-0.042,0.188-0.104,0.271L15.687,12.5l4.603,4.604C20.352,17.186,20.394,17.27,20.394,17.374z '/>
</svg>
</span>
                <span class='accessible-text'>Login</span>
            </a>
        </li>
       <% } %> 
        

        <li class='global-header-nav-hamburger'>
            <a href='#' data-target='nav'>
                <span class='open'><svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25' height='25' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'>
    <title>Nav</title>
    <path d='M21.498,7.626c0,0.208-0.166,0.375-0.375,0.375H3.877c-0.209,0-0.375-0.167-0.375-0.375V3.877 c0-0.208,0.166-0.375,0.375-0.375h17.245c0.209,0,0.375,0.167,0.375,0.375V7.626z M21.498,14.375c0,0.208-0.166,0.375-0.375,0.375 H3.877c-0.209,0-0.375-0.167-0.375-0.375v-3.75c0-0.208,0.166-0.375,0.375-0.375h17.245c0.209,0,0.375,0.167,0.375,0.375V14.375z  M21.498,21.123c0,0.208-0.166,0.375-0.375,0.375H3.877c-0.209,0-0.375-0.167-0.375-0.375v-3.749c0-0.208,0.166-0.375,0.375-0.375 h17.245c0.209,0,0.375,0.167,0.375,0.375V21.123z'/>
</svg>
</span>
                <span class='close'><svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='25' height='25' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'>
    <path d='M20.394,17.374c0,0.104-0.042,0.188-0.104,0.271l-2.646,2.645c-0.083,0.062-0.166,0.104-0.271,0.104 s-0.188-0.042-0.271-0.104L12.5,15.687L7.896,20.29c-0.082,0.062-0.166,0.104-0.27,0.104c-0.104,0-0.188-0.042-0.271-0.104 L4.71,17.645c-0.062-0.083-0.104-0.167-0.104-0.271s0.042-0.188,0.104-0.271L9.313,12.5L4.71,7.897 C4.648,7.814,4.606,7.73,4.606,7.626S4.648,7.439,4.71,7.355L7.355,4.71c0.084-0.062,0.167-0.104,0.271-0.104 c0.104,0,0.188,0.042,0.27,0.104L12.5,9.313l4.604-4.603c0.083-0.062,0.166-0.104,0.271-0.104s0.188,0.042,0.271,0.104l2.646,2.645 c0.062,0.083,0.104,0.167,0.104,0.271s-0.042,0.188-0.104,0.271L15.687,12.5l4.603,4.604C20.352,17.186,20.394,17.27,20.394,17.374z '/>
</svg>
</span>
                <span class='accessible-text'>Nav</span>
            </a>
        </li>
    </ul>
</nav>